<<<<<<< HEAD
.nav{
  background:#EDE9E0;
}

.nav ul li{
  list-style: none;
  display:inline-flex;
  position:relative;
  font-size:22px;
  margin-left:20px;
}


#menuToggle{
  opacity:0;
}

.nav a{
  color:rgb(119,119,119);
  padding-left:2px;
  font-family: 'League Gothic';
}

.nav a:hover{
  color:rgb(51,51,51);
  text-decoration: none;
}

@media screen and (max-width:768px){

  .nav ul li{
    margin-left: 0px;
  }
  #menuToggle + label{
    margin-right:-10px;
    cursor:pointer;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
  }
  #menuToggle+ label > span{
    display:block;
    width:22px;
    height:2px;
    margin-top:4px;
    background:#888888;
  }
  #menuToggle:checked + label  ~ #MenuCollapse{
    height:350px;
    transition-delay: 0s;
    opacity:1;
    transition: .5s;
  }
  #menuToggle:checked + label{
    background:#DDDDDD;
  }


  #menuToggle:checked  + label ~ #MenuCollapse >ul >li{
    opacity:1;
    }
  #MenuCollapse{
    height:0px;
    overflow: hidden;
    transition: .5s;
    transition-delay:0.3s;
  }
=======
/*.SymbolAt {
	background-image: url("../img/SymbolAt.png");
	background-repeat: no-repeat;
	background-color: #706E70;
}*/

.BackgroundFooterGrey {
	background-color: #EDE9E0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.BackgroundFooterBlack {
	background: #706E70 url("../img/SymbolAt.png") no-repeat;
	/*background-color: #EDE9E0;*/
	color: #F1FAD6;
	min-height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -15px;
}
.BackgroundFooterBlue {
	background-color: #45637A;
}
.LineBlue {
	background-color: #45637A;
	height: 10px;
}

.FontFooter {
	font-size: 10px;
}
.WidthMax {
	width: 100%;
}

p {
	text-align: center;
}

.Bords {
	border: 2px red solid;
}
#Address {
	font-size: 20px;
	text-align: right;
}
>>>>>>> 91f967571e9b8f56365c6c3ba502a5217b5fb1a6
