.nav{
  background:#EDE9E0;
}
#menuToggle{
  opacity:0;
}
.nav a{
  color:rgb(119,119,119);
  font-family: 'League Gothic';
}
#Brand{
    float:left;
}
#CenterNav{
    vertical-align: middle;
}
.nav a:hover{
  color:rgb(51,51,51);
  background:none!important;
  text-decoration: none;
}
.nav ul li{
  font-size:22px;
  background:#EDE9E0;
}
@media screen and (max-width:990px){
  .nav ul li{
    margin-left: 0px;
  }
  #menuToggle + label{
    cursor:pointer;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
    float:right;
  }
  #menuToggle+ label > span{
    display:block;
    width:22px;
    height:2px;
    margin-top:4px;
    background:#888888;
  }
  #menuToggle:checked + label  ~ #MenuCollapse{
    height:250px;
    transition-delay: 0s;
    opacity:1;
    transition: .5s;
  }
  #menuToggle:checked + label{
    background:#DDDDDD;
  }
  #menuToggle:checked  + label ~ #MenuCollapse >ul >li{
    opacity:1;
    }
  #MenuCollapse{
    height:0px;
    overflow: hidden;
    transition: .5s;
    transition-delay:0.3s;
  }
  .pBody{
     vertical-align: middle;
  }
 }
.BackgroundFooterGrey {
	background-color: #EDE9E0;
	margin-top: 0px;
	margin-bottom: 0px;
  height: 60px;
}
.BackgroundFooterBlackG {
	background: #EDE9E0 url("../img/SymbolAt.png") no-repeat;
	color: #F1FAD6;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -15px;
  height: 60px;
}
.BackgroundFooterBlackB {
  background: #706E70 url("../img/SymbolAt.png") no-repeat;
  color: #F1FAD6;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -15px;
  height: 60px;
  width: 110%;
}
.BackgroundFooterBlue {
	background-color: #45637A;
  height: 60px;
}
.LineBlue {
	background-color: #45637A;
	height: 10px;
}
.FontFooter {
	font-size: 10px;
  margin-left: 10px;
  color: rgb(112,110,112);
  vertical-align: middle;
}
.SpanFooter {
  color: rgb(112,110,112);
  font-size: 23px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}
.Padding {
	padding-top: 5px;
}
.pFooter {
	text-align: center;
}
.Bords {
	border: 2px red solid;
}
.Width {
  width: 100%;
  vertical-align: middle;
  margin-top: 15px;
}
.email {
  text-align: center;
  margin: auto auto auto 40px;
  height: 60px;
}
#Address {
  padding-top: 0px;
}
#LineWithPicture {
  height: 60px;
}
img.transparent{
  background: hsl(0,0%,90%) url("../img/fond_home_container_right.png");
  color: #222;
float:right;
}
#ImageFond img {
  width:100%;
}
@media {
  img.transparent{
    background: none;
    }
    .hidden-xs{
        visibility: hidden !important;
    }
}
img#people_img{
    margin-top: -155px;
}
@media#ImageFond img {
  max-width:inherit;
  min-height:inherit;
}
div#row_mid{
    background-position: center;
    background-repeat: no-repeat;
}
#fondvert{
  background-image: url("../img/fond_home_container_right.png");
  background-repeat: no-repeat;
  background-position: right;
}
div#home_text_container {
    padding: 25px;
    text-align: justify;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    font-family: open_sansregular;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 455px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    position: relative;
    width: 404.233px;
    display:block;
}
@media (max-width: 900px) {
    div#home_text_container {
      margin-right: 25%;
      width:100%;
    }
    img#people_img{
        margin-top: 0px;
    }
    #fondvert{
      background-image: none;
      margin-left: 0;
    }
}
div.category_body{
    background-color: #FFFFFF;
}
div.row.category_articles_icons{
    padding: 50px 0;
}
div.category_articles_contents div.category_content{
    background-color: #FFFFFF;
}
div#category_articles_icons li {
    float: left;
    list-style: outside none none;
    margin: 10px;
}
td.icon_title a{
    font-family: sans-serif;
    color: #DBD4C2;
    font-size: 16px;
}
.category_content{
    padding: 40px;
}
div.row.category_separator{
    height: 20px;
}
div.sub-categorie-title {
    color: #FFFFFF;
    height: 290px;
    background-color: #45637A;
    background-repeat: no-repeat;
    background-position: center center;
}
div.sub-categorie-title h2{
    margin-top: 100px;
}
div.sub-categories-articles{
    background-color: #FFFFFF;
}
div.inner_article_content {
    text-align: left;
}
@media (max-width: 1000px) {
    div.sub-categorie-title {
        background: #45637A!important;
    }
    div.sub-categorie-title {
        height: auto;
    }
    div.sub-categorie-title h2{
        margin-top: 10px;
    }
}
.pBody{
  position: relative;
  margin : 10px;
  text-align: justify;
  z-index:5;
}
body{
  margin: 0px;
}
#fondvert{
  position:relative;
}