/*==========================Menu====================
  je pique l'idée du site du coup pour separer les css :p
  ==================================================*/

.nav{
  background:#EDE9E0;
  display:block;
  position:relative;
}

#menu{
  display:block;
}
.nav ul li{
  list-style: none;
  display:inline-flex;
  position:relative;
  font-size:22px;
  margin-left:20px;
}

#menuToggle{
  opacity:0;
}

.nav a{
  color:rgb(119,119,119);
  padding-left:2px;
  font-family: 'League Gothic';
}

.nav a:hover{
  color:rgb(51,51,51);
  text-decoration: none;
}

@media screen and (max-width:768px){

  .nav ul li{
    margin-left: 0px;
  }
  #menuToggle + label{
    margin-right:-10px;
    cursor:pointer;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
  }
  #menuToggle+ label > span{
    display:block;
    width:22px;
    height:2px;
    margin-top:4px;
    background:#888888;
  }
  #menuToggle:checked + label  ~ #MenuCollapse{
    height:350px;
    transition-delay: 0s;
    opacity:1;
    transition: .5s;
  }
  #menuToggle:checked + label{
    background:#DDDDDD;
  }


  #menuToggle:checked  + label ~ #MenuCollapse >ul >li{
    opacity:1;
    }
  #MenuCollapse{
    height:0px;
    overflow: hidden;
    transition: .5s;
    transition-delay:0.3s;
  }
 }

/*=================================Footer=========================*/
.BackgroundFooterGrey {
	background-color: #EDE9E0;
	margin-top: 0px;
	margin-bottom: 0px;
  height: 60px;
}
.BackgroundFooterBlack {
	background: #EDE9E0 url("../img/SymbolAt.png") no-repeat;
	/*background-color: #706E70;*/
	color: #F1FAD6;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -15px;
  height: 60px;
}
.BackgroundFooterBlue {
	background-color: #45637A;
  height: 60px;
}
.LineBlue {
	background-color: #45637A;
	height: 10px;
}

.FontFooter {
	font-size: 10px;
  margin-left: 10px;
  color: rgb(112,110,112);
}
.SpanFooter {
  color: rgb(112,110,112);
  font-size: 23px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}
.Padding {
	padding-top: 5px;
}

.pFooter {
	text-align: center;
}

.Bords {
	border: 2px red solid;
}

#email {
  text-align: center;
  margin: auto auto auto 40px;
}
#Address {
  padding-top: 0px;
}
#LineWithPicture {
  height: 60px;
}
/*Body*/

/* ================================================================================================= */
/* ============================================	HOME PAGE ============================================ */
/* ================================================================================================= */
img.transparent{
  background: hsl(0,0%,90%) url("../img/fond_home_container_right.png");
  color: #222;
  margin-left: 72%;
  max-width: 45%;
  height: 45%;
  background-size: 300px 150px;
}
@media {
  img.transparent{
    background: none;
  }
}

img#people_img{
    margin-top: -155px;
    background-image: url("/imgSite/people.png");
    margin-left : 19%;
}
div#row_mid{
    background-image: url("/imgSite/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
div#home_text_cotainer {
    padding: 25px;
    min-height: 455px;
    text-align: justify;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    font-family: open_sansregular;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min height: 455px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    position: relative;
    width: 320.233px
}
@media (max-width: 900px) {
    div#home_text_cotainer {
        min-height: 0px;
    }
}
/* ================================================================================================= */
/* ============================================	CATEGORY	============================================ */
/* ================================================================================================= */

div.category_body{
    background-color: #FFFFFF;
}
div.row.category_articles_icons{
    padding: 50px 0;
}
div.category_articles_contents div.category_content{
    background-color: #FFFFFF;
}
div#category_articles_icons li {
    float: left;
    list-style: outside none none;
    margin: 10px;
}
td.icon_title a{
    font-family: sans-serif;
    color: #DBD4C2;
    font-size: 16px;
}
.category_content{
    padding: 40px;
}
div.row.category_separator{
    height: 20px;
}
div.sub-categorie-title {
    color: #FFFFFF;
    height: 290px;
    background-color: #45637A;
    background-repeat: no-repeat;
    background-position: center center;
}
div.sub-categorie-title h2{
    margin-top: 100px;
}
div.sub-categories-articles{
    background-color: #FFFFFF;
}
div.inner_article_content {
    text-align: left;
}
@media (max-width: 1000px) {
    div.sub-categorie-title {
        background: #45637A!important;
    }
    div.sub-categorie-title {
        height: auto;
    }
    div.sub-categorie-title h2{
        margin-top: 10px;
    }
}
.pBody{
  margin : 10px;
  margin-left: 45%;
  text-align: justify;
}
body{
  margin: 0px;
}
